.nav-bar{
    background-color: #ffd6d6;
    color:black;
    display: flex;
    justify-content: space-around;
    height:10vmin;
    position: fixed;
    width: 100vw;
}
.nav-bar img{
    margin:0%;
    height: 7vmin;
}
.nav-bar div{
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vmin;
}
.nav-bar div a{
    all:unset; 
    cursor: pointer;
    margin:0 3vmin;
    border-bottom: 2px solid transparent ;
    transition: all 500ms;
    font-size: 25px;
}
.nav-bar div a:hover{
    border-bottom: 2px solid #000;
}
.search-bar{
    all:unset;
    background-color: #F2EDED;
    width: 20vmax;
    height:2vmax;
    border: 2px solid #ffffff;
    margin-left: 90vmin 1vmin 1vmin 2vmin;
    padding-left: 15px;
    border-radius:15px 15px 15px 0;
}
.search-ico {
    width: 50px;
    height: 50px;
    display: none;
}

.search-bar:hover{
    background-color: #ffffff;
}       
@media screen and (max-width:700px){
    .nav-bar{
        font-size: 1.6vmax;
        height: 60px;
        position: static;
    }
    .search-bar{
        display: none;
    }
    .search{
        width: 30px;
        margin:-1vmin 1vmin 0.5vmin 0;
        padding: 20px;
    }
    .search-ico{
        display: block;
    }
}